html {
    margin: 0;
    padding:0;
}
body{
    margin: 0;
    padding: 2em;
}
header{
    position: relative;
    text-align: center;
}
h1{
    font-size: 4em;
    font-style:italic;
    font-weight: bold;
}
h2{
font-size: 2.5em;
font-style:italic;
font-weight: bold;
text-decoration: underline;
}
h3{
    font-size: 1.5em;
    font-style:italic;
    font-weight: bold;
}
table{
   border: 1px solid #060606;
}
tr,td,th{
    border: 1px solid #060606;
    text-align: center;
}
th{
    background-color:#646464;
}
tr:first-child th:first-child{
background-color:white;
}
tr:nth-child(odd){
    background-color:#a7abad;
}
ul{
    list-style-type: square;
    font-size: 1em;
}
ul.featureslist{
    list-style-type: none;
    height:2.5em;
    width: 535em;
    margin: 0 auto;
    display:flex; 
    flex-wrap: wrap; 
}
ul.featureslist li{
    display: flex;
    flex-wrap: nowrap;
    height:2.5em;
    padding-top: 1em;
    padding-right: 0.2em;
    padding-left: 0.2em;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
span{
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}
span.bold{
    font-weight: bold;
    text-decoration:none;
    color:black;
}
section#description span:first-child{
    color: black;
    font-size: 1.5em;
}
img{
    width: 100%;
}
#logobox{
    width: 8em;
    position: absolute;
    top: 0;
    left:0;
}
#productimg{
    width: 25em;
}
.productimg{
    text-align: center;
}
figcaption{
    width: 100%;
    text-align: center;
}
.buy{
    position: fixed;
    width: 6em;
    height: 1.3em;
    font-weight: bold;
    font-size: 2em;
    background-color: #006fdd;
}
#leftup{
top: 0;
left: 0;
display: inline;
}
#rightup{
top: 0;
left:33em;
display: inline;
}
#leftdown{
top: 16.3em;
left: 0;
}
#rightdown{
top: 16.3em;
left: 33em;
}
#contact{
   display: flex;
   flex-direction: column;
   align-items:center;
}
#table{
    display: flex;
    justify-content: center;
}
#productimgbox{
    display: flex;
    justify-content: center; 
}
#contact h2{
    width: 5em;
}
#btns{
    display: flex;
    justify-content: space-between;
}
form{
    display: flex;
    flex-direction: column;
}